SQLSERVER_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;DATABASE=MANTENIMIENTO;UID=sa;PWD=CAMBIAR_PASSWORD;Encrypt=yes;TrustServerCertificate=yes
MOTOR_NAMEPLATE_DIR=D:\MANTENIMIENTO\IMAGES\MOTORES\PLACAS
JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
JWT_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
